################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVC-netcore3/.vs/MVC-netcore3/v16
/MVC-netcore3/.vs/MVC-netcore3/DesignTimeBuild
